/* CSS for the expanding and collapsing divs */

.container {
	border: 2px lightgrey solid;
	border-radius: 25px;
}

.container div {

}

.container .header {
	cursor: pointer;
	padding-left: 10px;
}

.container .content {
	display: none;
	padding : 5px;
}

.flex {
	display: flex;
	padding-left: 10px;
}

.flexGrow {
	flex-grow: 1;
}

.gallery {
	width: 150px;
}

/* CSS for styling the page */

body {
	background-color: #FFFFFF;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
	color: #545454;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	margin: 0 auto;
	max-width: 800px;
	padding: 1em 2em 3em;
}

div {
margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
	color: #222;
	line-height: 1.3em;
}

html {
	background-color: #E6E9E9;
	background-image: -webkit-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
	background-image: linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
	-webkit-font-smoothing: antialiased;
}