<html>
	<body>
		<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size: 16px">
			<tr>
				<td align="center">
					<h2 style="color: #666f77; font-weight: 300; line-height: 1em; margin: 0 0 1em 0; text-transform: uppercase; letter-spacing: 0.125em; font-size: 1.5em; line-height: 1.5em;">Auction Alert</h2>

					Your requested password reset token is: <br> <br>

					$passwordResetToken <br> <br>

					Please use this token to <a href="${rootDomainName}/reset_password">reset your password</a>. This token will be valid for one hour. <br>

					If you did not request this password reset token, please contact the administrator immediately. <br>
				</td>
			</tr>
		</table>
		<footer style="background: #f8f8f8; padding: 4em 0 6em 0; text-align: center; color: #bbb">
			<p style="text-align: center">
				© <a href="${rootDomainName}">Auction Alert</a>. All rights reserved.
			</p>
		</footer>
	</body>
</html>