<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task-3.0.xsd
	http://www.springframework.org/schema/cache
	http://www.springframework.org/schema/cache/spring-cache.xsd">

	<task:annotation-driven />

	<context:component-scan	base-package="com.app" />

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>file:${catalina.base}/config.properties</value>
			</list>
		</property>
	</bean>

	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="dataSource">
		<property name="driverClassName" value="${jdbc.default.driverClassName}" />
		<property name="url" value="${jdbc.default.url}" />
		<property name="username" value="${jdbc.default.username}" />
		<property name="password" value="${jdbc.default.password}" />
	</bean>

	<bean class="com.app.dao.CategoryDAO" id="categoryDAO" />
	<bean class="com.app.dao.NotificationPreferencesDAO" id="notificationPreferencesDAO" />
	<bean class="com.app.dao.ReleaseDAO" id="releaseDAO" />
	<bean class="com.app.dao.SearchQueryDAO" id="searchQueryDAO" />
	<bean class="com.app.dao.SearchQueryPreviousResultDAO" id="searchQueryPreviousResultDAO" />
	<bean class="com.app.dao.SearchResultDAO" id="searchResultDAO" />
	<bean class="com.app.dao.UserDAO" id="userDAO" />
	<bean class="com.app.mail.SendGridMailSender" id="mailSender" />

	<bean class="org.apache.shiro.spring.LifecycleBeanPostProcessor" id="lifecycleBeanPostProcessor" />

	<bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher" id="sha512Matcher">
		<property name="hashAlgorithmName" value="SHA-512" />
		<property name="storedCredentialsHexEncoded" value="false" />
		<property name="hashIterations" value="1024" />
	</bean>

	<bean class="com.app.shiro.SaltedJdbcRealm" id="eBayRealm">
		<property name="dataSource" ref="dataSource" />
		<property name="authenticationQuery" value="SELECT password, salt FROM user WHERE username = ?" />
		<property name="userRolesQuery" value="SELECT roleName FROM UserRole WHERE email = ?" />
		<property name="permissionsQuery" value="SELECT permission FROM RolesPermission WHERE roleName = ?" />
		<property name="permissionsLookupEnabled" value="true" />
		<property name="credentialsMatcher" ref="sha512Matcher" />
	</bean>

	<bean class="org.apache.shiro.cache.MemoryConstrainedCacheManager" id="builtInCacheManager" />

	<bean class="org.apache.shiro.web.mgt.DefaultWebSecurityManager" id="securityManager">
		<property name="cacheManager" ref="builtInCacheManager" />
		<property name="realm" ref="eBayRealm" />
	</bean>

	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor" />

	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>

	<bean class="org.apache.shiro.spring.web.ShiroFilterFactoryBean" id="shiroFilter">
		<property name="securityManager" ref="securityManager" />
	</bean>

	<cache:annotation-driven/>

	<bean class="org.springframework.cache.ehcache.EhCacheCacheManager" id="cacheManager">
		<property name="cacheManager" ref="ehcache" />
	</bean>
	<bean class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean" id="ehcache">
		<property name="configLocation" value="/WEB-INF/ehcache.xml" />
	</bean>

	<mvc:annotation-driven />
</beans>